/* style.css file */
.slider {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 0.6s ease;
}
.slide img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

/*Manual Navigation*/
.navigation-manual {
    position: absolute;
    width: 800px;
    bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.manual-btn {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}