/* style.css file */
.slider {
    width: 800px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}
.slides {
    width: 500%;
    height: 100%;
    display: flex;
}